__pycache__/
*.py[cod]
*.so
*.dylib
*.egg-info/

.DS_Store
.idea/
.vscode/

/datasets/
/checkpoints/
/ckpts/
/outputs/
/interpolation_outputs/
/inputs/
/swanlog/

*.ckpt
*.log
batch_run.sh
batch_slowmo.zsh
run.sh
*.kate-swp
